<%=@user.email%>
<h1>Items Present </h1>
<a href="items/new"><button class="btn btn-primary" type="button">Create</button></a>
<%= link_to "Export", items_path(format: 'csv') %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Update</th>
    <th>Delete</th>
    <th>Buy Now</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%=item.name%></td>
    <td><%=item.price%></td>
    <td><%=item.rating%></td>
    <td><a href="items/<%=item.id%>/edit"><button class="btn btn-outline-warning" type="button">Update</button></a></td>
    <td><a href="items/<%=item.id%>"><button class="btn btn-outline-danger" type="button">Delete</button></a></td>
    <td><a href="buy/<%=item.id%>"><button class="btn btn-outline-success" type="button">Buy Now</button></a></td>
  </tr>
  <% end %>
</table>
 <a href="showlist/"><button class="btn btn-primary" type="button">SHOW ORDERED ITEM LIST</button></a> 

